@page "/"
@using ComunidadeLivros.Shared.Services
@inject IFormFactor FormFactor

<PageTitle>Inicio</PageTitle>

<h1>Comunidade de Livros</h1> 

<h2>Generos</h2>

<a href="@($"fantasia")" class="btn btn-primary m-1">Fantasia</a>
<a href="@($"suspense")" class="btn btn-primary m-1">Suspense</a>
<a href="@($"terror")" class="btn btn-primary m-1">Terror</a>
<a href="@($"melancolico")" class="btn btn-primary m-1">Melancólico</a>
<a href="@($"romance")" class="btn btn-primary m-1">Romance</a>

@code {
    private string factor => FormFactor.GetFormFactor();
    private string platform => FormFactor.GetPlatform();
}
